@use "@wordpress/base-styles/colors" as *;

.components-validated-control {
	// For components based on InputBase
	&:has(:is(input, select):invalid[data-validity-visible])
	.components-input-control__backdrop {
		--wp-components-color-accent: #{$alert-red};
		border-color: $alert-red;
	}

	// For TextareaControl
	textarea:invalid[data-validity-visible] {
		--wp-admin-theme-color: #{$alert-red};
		--wp-components-color-accent: #{$alert-red};
		border-color: $alert-red;
	}
}

.components-validated-control__wrapper-with-error-delegate {
	position: relative;

	// For CustomSelectControl
	&:has(select:invalid[data-validity-visible]) .components-input-control__backdrop {
		--wp-components-color-accent: #{$alert-red};
		border-color: $alert-red;
	}

	// For ContentEditableControl
	&:has(input:invalid[data-validity-visible])
	.components-validated-control__content-editable [role="textbox"] {
		--wp-admin-theme-color: #{$alert-red};
		border-color: $alert-red;
	}
}

.components-validated-control__error-delegate {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}
